.card{
    background-color: #570A57;
}
.card-details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: #A91079;
    color: white;
    border: none;
}